html,body{
    padding: 0;
    margin: 0
    ;
}
header{
    background-color: aqua;
    height: 60px;
    grid-area: header;
}
s
nav{
    background-color: rgb(226, 129, 129);
    grid-area: menu;
    
    width: 25%;   
}
article{
    background-color: rgb(104, 104, 230);
    
    
    height: 80px;
    grid-area: content;
}
footer{
    clear: both;
    background-color: aquamarine;
    height: 120px;
    grid-area: footer;
}



#contenedor {


    background-color: blueviolet;
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "menu content content content " 
    "footer footer footer footer ";

}